body {
    background-color: #ffffff;
    color: #252525;
}

.homepage {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.contain {
    background-color: #252525;
}

.nav-link {
    color: #ffffff;
}

.green {
    align-items: center;
    text-align: center;
    background-color: #d5f4ea;
}

.header {
    background-color: #57d07c;
    padding-top: 30px;
    padding-bottom: 30px;
}

::placeholder {
    font-size: 1em;
}

#teamname {
    align-items: center;
    text-align: center;
}

#loginscreen {
    align-items: center;
    text-align: center;
}

input {
    border-radius: 10px;
}

.form-outline {
    width: 400px;
    align-items: center;
    text-align: center;
}

.register {
    background-color: #57d07c;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form-floating {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;    
}

.sign {
    background-color: #57d07c;
}

.card{
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}