<!DOCTYPE html>
<html>
    <form>
    <body>
        <h1> Welcome traveler</h1>
        <h1> Welcome!</h1>
        <h2> Login </h2>
        <label> Username</label>
        <input type="text" name="username" minlength="3" required> <br>
		<label> Password</label>
		<input type="password" minlength="3" name="password" required>
		<input type="submit" name="login" value="Login">
        <h2> Register </h2>
        <label>Username</label>
        <input type="text" name="createusername" minlength="3" required> <br>
        <label>Password</label>
        <input type="password" minlength="3" name="createpassword" required>
        <input type="submit" name="create" value="Create account">
  </form>
    </body>
</html>