<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Questionnaire</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <link href="../static/css/style.css" rel="stylesheet">     
  </head>

  <body>
    <div class="header">
      <h1 style="margin-left: 30px; margin-right: 30px;">
        Questionnaire
      </h1>
    </div>

    <div class="contain">
      <nav class="navbar navbar-expand-lg" style="margin-left: 30px; margin-right: 30px;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('authenticate') }}">Home</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('questions') }}">Questionnaire</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('results') }}">Results</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('recommendations') }}">Recommendations</a>
                  </li>
              </ul>
          </div>
      </nav>
    </div>

    <div class="homepage">

      <form action="/strokeresults" method="POST">
        <div>
          <label>1. Name
            <input type="text" value="{{name}}" placeholder="begin typing..." name="name" required>
          </label>
          {{name}}
        </div>

        <br>
        <div>
          <label>2. Height
            <input type="number" value="{{height}}" placeholder="begin typing..." name="height" required>
          </label>
          <p class="help-text" id="helptextheight">Your height <b>in inches!</b></p>
          {{height}}
        </div>

        <br>
        
        <div>
          <label>3. Weight
            <input type="number" value="{{weight}}" placeholder="begin typing..." name="weight" required>
          </label>
          <p class="help-text" id="helptextweight">Your weight <b>in pounds!</b></p>
          {{weight}}
        </div>

        <br>

        <div>
          <label>4. Sex
            <input type="radio" name="sex" value="female" required>Female
            <input type="radio" name="sex" value="male" required>Male 
          </label>
        </div>
        {{sex}}

        <br>

        <div>
          <label>5. Age
            <input type="number" value="{{age}}" placeholder="begin typing..." name="age" required>
          </label>
          <p class="help-text" id="helptextage">Your age <b>in years!</b></p>
        </div>
        {{age}}

        <br>
        <!--
        <div>
          <label>6. How healthy do you eat?
            <input type="range" min="1" max="10" value="5" name="eathealthy" oninput="this.nextElementSibling.value = this.value" required>
            <output>5</output>
          </label>
        </div>
        {{eathealthy}}

        <br>

        <div>
          <label>7. Do you have any allergies?
            <input type="radio" name="allergies" value="yes" required>Yes
            <input type="radio" name="allergies" value="no" required>No 
          </label>
        </div>
        {{allergies}}

        <br>

        <div>
          <label>8. How often do you exercise in a week?
            <input type="number" value="{{exercise}}" placeholder="begin typing..." name="exercise" required>
          </label>
        </div>
        {{exercise}}

        <br>
        
        <div>
          <label>9. How often do you engage in meditation or relaxation practices?
            <input type="number" value="{{meditation}}" placeholder="begin typing..." name="meditation" required>
          </label>
        </div>
        {{meditation}}

        <br>

        <div>
          <label>10. How many hours of sleep do you get per night?
            <input type="number" value="{{sleep}}" placeholder="begin typing..." name="sleep" required>
          </label>
        </div>
        {{sleep}}

        <br>

        <div>
          <label>11. How often do you attend health checkups in a year?
            <input type="number" value="{{checkups}}" placeholder="begin typing..." name="checkups" required>
          </label>
        </div>
        {{checkups}}
      
        <br>
      -->
        <div>
            <label>12. Have you ever had a heart disease?
              <input type="radio" name="heart" value="yes" required>Yes
              <input type="radio" name="heart" value="no" required>No 
              <!-- want to ask how many times if yes is pressed-->
            </label>
        </div>
        {{stroke}}

        <br>
        <!--
        <div>
          <label>13. Do you have type one diabetes?
            <input type="radio" name="onediabetes" value="yes" required>Yes
            <input type="radio" name="onediabetes" value="no" required>No 
          </label>
        </div>
        {{onediabetes}}

        <br>

        <div>
          <label>14. Do you have type two diabetes?
            <input type="radio" name="twodiabetes" value="yes" required>Yes
            <input type="radio" name="twodiabetes" value="no" required>No 
          </label>
        </div>
        {{twodiabetes}}

        <br>

        <div>
          <label>15. How often do you use alcohol in a week?
            <input type="number" value="{{alcohol}}" placeholder="begin typing..." name="alcohol" required>
          </label>
        </div>
        {{alcohol}}

        <br>

        <div>
          <label>16. How often do you use drugs in a week?
            <input type="number" value="{{drugs}}" placeholder="begin typing..." name="drugs" required>
          </label>
        </div>
        {{drugs}}

        <br>

        <div>
          <label>17. Do you have any psychological illnesses/disorders?
            <input type="radio" name="disorders" value="yes" required>Yes
            <input type="radio" name="disorders" value="no" required>No 
          </label>
        </div>
        {{disorders}}

        <br>

        <div>
          <label>18. How healthy do you feel?
            <input type="range" min="1" max="10" value="5" name="feelhealthy" oninput="this.nextElementSibling.value = this.value" required>
            <output>5</output>
          </label>
        </div>
        {{feelhealthy}}
      
        <br>
      -->
        <div>
            <input type="submit" name="submit" value="Submit">
        </div>
      </form>

      <br><br>

      <!-- logout button -->
      <form action="/logout">
        <center><button class="btn btn-primary register">Logout</button></center>
      </form>

      <br><br><br>
    </div>

  </body>
</html>